body {
   font-family: 'Raleway', sans-serif;
   margin: 0;
}

h1 {
   font-size: 5em;
   font-weight: 900;
}

h2 {
   font-size: 3em;
   font-weight: 900;
}

h3 {
   font-size: 1em;
   text-transform: uppercase;
   font-weight: 700;
}

p {
   font-size: .9em;
   font-weight: 400;
   line-height: 1em;
}

a {
   color: grey;
   text-decoration: none;
}

img {

}

.nav {
   width: 100%;
   height: 200px;
   background-color: grey;
   color: white;
   padding: 30px;
   vertical-align: middle;
   box-sizing: border-box;
   display: inline-block;
}

.nav h1 {
   font-size: 2em;
   text-align: center;
   color: white;
   display: inline-block;
   width: 100%;
}

.container {
   display: flex;
   flex-flow: row wrap;
   width: 80vw;
   max-width: 1200px;
   margin: 10vh auto;
   padding: 0 120px;
   justify-content: space-between;
   align-items: flex-start;
   box-sizing: border-box;
}

.col {
   padding: 18px;
   margin: 0;
   vertical-align: top;
   box-sizing: border-box;
}

.col-3 {
   width: 25%;
}

.col-4 {
   width: 33%;
}

.col-5 {
   width: 41%;
}

.col-6 {
   width: 50%;
}

.col-7 {
   width: 71%;
}

.col-8 {
   width: 66%;
}

.col-12 {
   width: 100%;
}

@media screen and (max-width: 1000px) {
   .col {
      width: 100%;
   }
}


/* SWUP */

.transition-fade {
   opacity: 1;
   transition: 500ms;
}

html.is-animating .transition-fade {
   opacity: 0;
}
