body {
    margin: 0;
    --action-hover: hsla(0,0%,0%,0.12);
    --action-active: hsla(0,0%,0%,0.08);
    font-family: 'Inter', sans-serif;
    background-color: hsl(0, 0%, 95%);
    position: relative;
}

div, a {
    box-sizing: border-box;
}

/* Typography */
p, li {
    margin: 0;
    font-size: clamp(.875rem, 3vw, 1rem);
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0em;
    text-align: left;
}

h1 {
    margin: 0;
    font-size: clamp(1.3rem, 6vw, 2rem);
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 0em;
    text-align: left;
}

h2 {
    margin: 0;
    font-size: clamp(1.1rem, 4.5vw, 1.5rem);
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 0em;
    text-align: left;
}

h3 {
    margin: 0;
    font-size: clamp(1rem, 4vw, 1.25rem);
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0em;
    text-align: left;
}

/* Buttons and links */
button {
    border: none;
    background-color: transparent;
    vertical-align: text-bottom;
    display: inline !important;
    padding: 0 !important;
    width: 1.5rem !important;
    height: 1.5rem !important;
}

button:active {
    background-color: hsla(160, 100%, 75%, 0.15);
}

button span {
    margin: auto;
    transform:scale(90%);
}

.button {
    border-radius: 4px;
    text-decoration: none;
    transition-duration: 240ms;
    padding: 8px;
    color: black;
    line-height: 100%;
    margin: 0;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button:hover {
    background-color: var(--action-hover);
    color: black;
}

.icon-button {
    padding: 4px;
    height: 2rem;
    width: 2rem;
    color: hsl(0, 0%, 50%);
}

a {
    color:hsl(178, 100%, 21%);
    margin: -2px -4px;
    padding: 2px 4px;
    border-radius: 4px;
    overflow: hidden;
    font-weight: 700;
    text-decoration: none;
    align-self:flex-start;
}

a:hover {
    background-color: hsla(160, 30%, 75%, 0.15);
    color:hsl(178, 100%, 16%)
}

.open-in-new:after  {
    content: '↗︎';
}

/* Images */
img {
    width: fit-content;
    max-width: 100%;
    overflow: hidden;
 }

 .content-image {
    border-radius: 6px;
    overflow: hidden;
 }

 /* Page Setup */
#page-background {
    background-image: url(./assets/random.png);
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -100;
    opacity: 0.08;
}

#page-wrapper {
    padding: 16px;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
}

#page {
    border: solid 1px var(--action-hover);
    border-radius: 6px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: hsla(0, 0%, 100%, 0.4);
}

.column {
    padding: 24px;
}

.divider-vert {
    background-color: black;
    width: 1px;
    flex-grow: 0;
}

.divider {
    width: 100%;
    background-color: var(--action-hover);
    height: 1px;
}

hr {
    border-style: none;
    border-top: solid 1px var(--action-hover);
    width: 100%;
}

ol {
    margin: 0;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

 /* Navigation Column */
.column-left {
    flex-basis: min(24ch, 100%);
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-right: 1px solid var(--action-hover);
}

.nav-header {
    padding: 8px;
}

.nav-title {
    font-weight: 700;
    color: black;
    line-height: 100%;
}

#nav {
    display: flex;
    justify-items: flex-start;
    flex-direction: column;
    gap: 8px;
}

.nav-item {
    border-radius: 4px;
    display: flex;
    flex-direction: row-reverse;
    gap: 4px;
}

.nav-item .icon-button {
    flex-shrink: 0;
}

.nav-button {
    flex-grow: 1;
    position: relative;
}

.nav-button span {
    position: absolute;
    right: 4px;
    top: 4px;
    color: hsl(0, 0%, 50%);
}

a:hover + .nav-button {
    background-color:  var(--action-hover);
}

.nav-item:hover .nav-button span {
    color:hsl(0, 0%, 0%)
}

.active .nav-button {
    background-color: var(--action-active)
}

/* Content Column */
.column-right {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 30ch;
    min-height: 0;
    max-height: 100%;
    overflow: auto;
}

.content-flow {
    flex-basis: min(48ch, 100%);
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 48px 0;
}

/* Page Content [postcard, projects]*/

/* Postcard Page */
.content-flow {
   perspective: 800px;
}

.postcard {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    display: flex;
    box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
    transform: rotateX(3deg) rotateY(0deg) rotateZ(2deg);
    transform-style: preserve-3d;
}

.postcard .stamp {
    position: absolute;
    top: 16px;
    right: 16px;
    width: min(170px, 45%);
    rotate: 3deg;
    opacity: 0.7;
}

.postcard-caption {
    font-size: .875rem;
    font-style: italic;
    max-width: 40ch;
    color:hsl(0, 0%, 32%);
    margin: 2rem auto 0 auto;
}

/* Projects Page */
.email-protect {
    display: none;
}

/* MOBILE */

@media only screen and (max-width: 48rem) {
    #page {
        flex-direction: column;
        justify-content: flex-start;
    }

    #page-background {
        height: fill;
    }

    #page-wrapper {
        height: auto;
    }

    .column-left {
        border: none;
        border-bottom: 1px solid var(--action-hover);
        align-items: center;
    }

    .column-left > * {
        max-width: 48ch;
        width: 100%;
    }

    .column-right {
        flex-basis: auto;
    }
    
    .button {
        outline: 1px solid var(--action-active)
    }
}