:root {
  --column-width: 1.5rem;
  --content-width: 39.75rem;
  --grid-size: 0.75rem;
  --color-text: #000;
  --color-background: #FFF;
  --color-border: #9C9C9C;
}

body {
  width: 100%;
  font-family: "rubik", sans-serif;
  margin: 0;
}

#canvase-image {
  position: fixed;
  z-index: -100;
  background-image: url(assets/dlbg.png);
  background-size: var(--grid-size);
  background-position: top;
  width: 100%;
  top: 0;
  bottom: 0;
  opacity: 24%;
}

@media (width <= 41.25em) {
  #canvase-image {
    background-position: initial;
  }
} 

#content {
  max-width: var(--content-width);
  margin: 0 auto 0 auto;
  padding: 9rem 0.75rem 120rem 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}

/* Site Header Styling */

h1 {
  font-family: "Rubik Mono One", monospace;
  margin: 0.5625rem 0 calc(.75rem - 0.5625rem) 0;
  padding: 0;
  line-height: 3rem;
  font-size: 3.0625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  flex-wrap: wrap;
  font-weight: 500;
}

#sticky-header {
  position: fixed;
  top: 10px;
  width: 100vw;
  background-color: white;
  z-index: 100;
}

/* tweek to align with grid */
.h1-first, .h1-second {
  margin-left: -0.16rem;
}

.h1-second {
  padding-left: calc(100% - 8ch);
  /* margin-left: 10.28rem; */
}

@supports (animation-range: 0vh 10vh) {
  h1 {
    animation: header-scale ease forwards;
    animation-timeline: scroll();
    animation-range: 0vh 10vh;
  }

}

@supports (animation-range: 0vh 20vh) {
  .h1-second {
    animation: second-line-padding cubic-bezier(1, -1.354, 0.425, 1.183) forwards;
    animation-timeline: scroll();
    animation-range: 0vh 20vh;
  }
}

@keyframes header-scale {
  from {
    margin: 0.5625rem 0 calc(.75rem - 0.5625rem) 0;
    line-height: 3rem;
    font-size: 3.0625rem;
  }
  to {
    margin: 0;
    line-height: 1rem;
    font-size: 1rem;
  }
}

@keyframes second-line-padding {
  from {
    padding-left: calc(var(--grid-size) * 23);
  }
  to {
    padding-left: 5ch;
  }
}

/* Headers */

h2 {
  font-family: "Rubik Mono One", monospace;
  line-height: 1.5rem;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

h3 {
  line-height: 1.5rem;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

p {
  line-height: 1.5rem;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

a {
  color: black;
}

a:hover {
  box-shadow: inset 0 0 hsl(191, 100%, 50%);
}

p a {
  height: 1.5rem;
}

hr {
  margin: 0.75rem 0 calc(0.75rem - 1px) 0;
  flex-grow: 1;
  border: none;
  border-top: 1px solid var(--color-border);
  flex-shrink: 1 !important;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: relative;
}

.row {
  display: flex;
  gap: 1.5rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.row * {
  flex-shrink: 0;
}

.col-8 {
  width: calc(var(--column-width) * 15);
  max-width: 100%;
}

.card {
  flex: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  flex-basis: 10.5rem;
  margin: -0.75rem;
  padding: 0.75rem;
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
}

.card img {
  height: 6rem;
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}
